<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  
  <div id="app">
    <div class="wrapper">
      <header>
        <div class="header-logo">
          <img src="assets/img/logo.png" alt="logo">
        </div>

        <div class="input">
          <input type="text" placeholder="Aggiungi" 
            v-model="strTodo"
            @keyup.enter="addTodo"
          >

          <button @click="addTodo">Inserisci</button>
        </div>
      </header>

      <main class="todo-container">
        <ul>
          <li 
            v-for="(todo, index) in todos"
            :class="todo.checked ? 'checked' : null"
            :style="(index === todos.lenght -1) ? 'border:none' : null"
            @click="todo.checked = !todo.checked"  

          >
            {{todo.todo}}
            <i
              @click.stop="removeTodo(index)"
              class="fas fa-times"
            ></i>
          </li>
        </ul>
      </main>
    </div>
  </div>

  <script src="assets/js/script.js"></script>
</body>
</html>